/web_application/backend/__pycache__/
/web_application/backend/.Python
/web_application/backend/.env
/web_application/backend/*.conda
/web_application/backend/.vscode/
/web_application/backend/.mypy_cache/
/web_application/backend/.ipynb_checkpoints
/web_application/backend/ipython_config.py
/web_application/backend/*.log
/web_application/backend/logs/
/web_application/backend/*.db

/dataset_generation/__pycache__/
/dataset_generation/.Python
/dataset_generation/.env
/dataset_generation/*.conda
/dataset_generation/.vscode/
/dataset_generation/.mypy_cache/
/dataset_generation/.ipynb_checkpoints
/dataset_generation/ipython_config.py
/dataset_generation/*.log
/dataset_generation/logs/
/dataset_generation/*.db

/web_application/frontend/node_modules
/web_application/frontend/.pnp
/web_application/frontend/.pnp.js
/web_application/frontend/.yarn/install-state.gz
/web_application/frontend/coverage
/web_application/frontend/.next/
/web_application/frontend/out/
/web_application/frontend/build
/web_application/frontend/.DS_Store
/web_application/frontend/*.pem
/web_application/frontend/npm-debug.log*
/web_application/frontend/yarn-debug.log*
/web_application/frontend/yarn-error.log*
/web_application/frontend/.env*.local
/web_application/frontend/.vercel
/web_application/frontend/*.tsbuildinfo
/web_application/frontend/next-env.d.ts